services:
  - type: web
    name: price-backend
    env: docker
    plan: free
    dockerfilePath: ./backend/Dockerfile
    buildContext: ./backend
    autoDeploy: true
    envVars:
      - key: DJANGO_SETTINGS_MODULE
        value: price_project.settings
      - key: MODEL_PATH
        value: /tmp/ml_model/model.pkl

  - type: web
    name: price-ml-service
    env: docker
    plan: free
    dockerfilePath: ./ml_service/Dockerfile
    buildContext: ./ml_service
    autoDeploy: true
    envVars:
      - key: MODEL_PATH
        value: /tmp/ml_model/model.pkl
