services:
  - type: web
    name: price-ml-service
    env: docker
    plan: free
    dockerfilePath: ./ml_service/Dockerfile
    autoDeploy: true

    envVars:
      - key: MODEL_PATH
        value: /tmp/ml_model/model.pkl

      - key: TEMP_DIR
        value: /tmp/price_api_temp

databases:
  - name: price-db
    plan: free
